@font-face {
  font-family: 'ramblaregular';
  src: url('./rambla-regular-webfont.woff2') format('woff2'),
       url('./rambla-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: 'ramblaregular', Arial, Helvetica, sans-serif;
}

.home-page,
.shop-page,
.cart-page {
  padding-top: 8vh;
}

/*
  NAV
*/
.navigation-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  min-height: 8vh;
  border-bottom: 1px solid white;

  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.logo {
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
}

.navigation-links a {
  color: white;
  text-decoration: none;
}

/*
  HOME
*/

.sneakers-row {
  display: flex;
  width: 100vw;
}

.sneaker-home {
  max-width: 33.3%;
}

.home-stmt {
  white-space: pre;

  text-align: center;
  font-size: 44px;
  font-weight: 500;

  margin: 38px;
}

.home-cta {
  text-align: center;
  font-size: 52px;
  font-weight: 600;
}

.home-cta a {
  color: white;
  text-decoration: none;
}

/*
  SHOP
*/
.shop-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 8vh;
}

.shop-intro {
  margin: 20px 0;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 24px;
  
  padding: 0 12px 0 0;
}

.item-cell {
  display: grid;
  grid-template-rows: 16fr 1fr 1fr 1fr 1fr;
}

.item-img {
  max-height: 100%;
  max-width: 100%;
  background-color: white;
}

.item-brand {
  margin-top: 6px;
}

.item-name,
.item-price {
  font-size: 14px;
  font-weight: 100;
  margin-top: 4px;
}

.add-to-cart-div {
  margin-top: 4px;

  display: flex;
  justify-content: flex-end;
}

.add-to-cart-input {
  width: 50px;
  margin-right: 2px;
}

.add-to-cart-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 12px;

  background: black;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;

  font-family: 'ramblaregular', Arial, Helvetica, sans-serif;
}

.add-to-cart-btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}