@font-face {
  font-family: 'ramblaregular';
  src: url('./rambla-regular-webfont.woff2') format('woff2'),
       url('./rambla-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: 'ramblaregular', Arial, Helvetica, sans-serif;
}

.logo {
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
}

.navigation-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  min-height: 8vh;
  border-bottom: 1px solid white;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
}

.navigation-links a {
  color: white;
  text-decoration: none;
}

.sneakers-row {
  display: flex;
  width: 100vw;
}

.sneaker-home {
  max-width: 33.3%;
}

.home-stmt {
  white-space: pre;

  text-align: center;
  font-size: 44px;
  font-weight: 500;

  margin: 38px;
}

.home-cta {
  text-align: center;
  font-size: 52px;
  font-weight: 600;
}

.home-cta a {
  color: white;
  text-decoration: none;
}